.midline {
  display: flex;

  .line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 24px;
  }

  .text {
    padding: 16px 8px;
  }
}

.register {
  display: flex;
  justify-content: center;
  .registerLink {
    color: #3bb0ff;
  }
}
